<div class="container mt-4">
  <div class="card bg-light mb-3">
    <div class="card-body">

          <ng-select id="selectCustomer" name="selectCustomer" [items]="customerData"
                     bindLabel="B"
                     placeholder="Select Customer"
                     (change)="onSelect($event)"
                     [(ngModel)]="selectedCustomerId">
          </ng-select>
      <table class="table table-bordered p-3 table-hover" *ngIf="selectedCustomerId">
    <thead>
       <tr>
         <th scope="col">#</th>
         <th scope="col">Name</th>
         <th scope="col">Email</th>
         <th scope="col">Gender</th>
         <th scope="col">IP</th>
       </tr>

       </thead>
        <tbody>
          <tr>
            <ng-container *ngFor="let item of objectKeys">
              <td>{{selectedCustomerId[item]}}</td>
            </ng-container>

            <!--<td>{{selectedCustomerId.B}}</td>-->
            <!--<td>{{selectedCustomerId.C}}</td>-->
            <!--<td>{{selectedCustomerId.D}}</td>-->
            <!--<td>{{selectedCustomerId.E}}</td>-->
          </tr>
        </tbody>
      </table>
      </div>

  </div>
</div>


